.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
  }
  
  .modal-auth-page {
    position: relative;
    z-index: 1001;
    width: 100%;
    max-width: 600px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .close-button {
    background: none;
    border: none;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  
  .close-button:hover {
    color: #fff;
    transform: scale(1.1);
  }

  
.cancel-button-1 {
    background-color: transparent;
    border: 1px solid #aaa;
    color: #aaa;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;    
    transition: all 0.2s ease;
    height: 48px;
    margin-top: 10px;
  }
  
  .cancel-button-1:hover {
    border-color: #fff;
    color: #fff;
  }
  